@import url("./index.css");
.home {
  background-image: url("../assets/endless-constellation.svg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32rem;
  background-color: var();
  border-radius: 5px;
  padding: 0.5rem;
  gap: 8px;
  background-color: var(--white-color);
  box-shadow: -1px 4px 33px 0px var(--scondery-color);
  -webkit-box-shadow: -1px 4px 33px 0px var(--scondery-color);
  -moz-box-shadow: -1px 4px 33px 0px var(--scondery-color);
  border: 1px solid #dedede;
}
.content {
  order: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  height: 85%;
  border-radius: 5px;
}
.aside {
  order: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;
  height: 15%;
  background-color: var(--navy);
  border: 1px solid var(--scondery-color);
  box-shadow: -6px -20px 36px -27px rgba(189, 171, 171, 0.75);
  -webkit-box-shadow: -6px -20px 36px -27px rgba(189, 171, 171, 0.75);
  -moz-box-shadow: -6px -20px 36px -27px rgba(189, 171, 171, 0.75);
}
.aside .aside-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  position: relative;
  margin: 0.5rem 0;
}
.pinned-count {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.aside-title i {
  position: absolute;
  top: 2px;
  right: -20rem;
  padding: 6px;
  cursor: pointer;
}

.aside p {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: capitalize;
}
.aside ul {
  display: none;
}
ul p {
  display: none;
}
.open-aside {
  height: 80%;
  z-index: 99;
  transition: 0.3s ease-in-out;
  padding: 0;
  animation: aside-open 0.3s ease-in-out;
}
.open-aside .pinned-count {
  display: none;
}
.close-aside .aside {
  height: 50%;
  animation: aside-close 0.3s ease-in-out;
}
.hadle-open {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}
.hadle-open:hover {
  background-color: var(--white-color);
}
.open-aside .hadle-open {
  transform: rotate(180deg);
}

.open-aside ul {
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 20px;
}
.open-aside p {
  display: block;
  transform: translateY(50%);
}
.open-aside li {
  width: 100%;
  height: 20%;
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}
.open-content {
  height: 20%;
}

@keyframes aside-open {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes aside-close {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    padding: 5px;
    margin-top: 5rem;
  }
  .aside {
    width: 100%;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .aside-title i {
    top: 10px;
    right: -10rem;
  }
  .content {
    width: 100%;
    font-size: 1rem;
  }
}

@media (max-width: 665px) {
  .container {
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    margin-top: 5rem;
  }
  .aside {
    width: 100%;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .aside-title i {
    top: 10px;
    right: -10rem;
  }
  .content {
    width: 100%;
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  .container {
    width: 40%;
    margin: 1rem;
    font-size: 1rem;
    margin-top: 5rem;
  }
  .aside {
    width: 100%;
    font-size: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .aside-title i {
    top: 10px;
    right: -5rem;
  }
  .content {
    width: 100%;
    font-size: 1rem;
  }
}
