@import url("./index.css");
.home {
  background-image: url("../assets/endless-constellation.svg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28rem;
  background-color: var();
  border-radius: 5px;
  padding: 0.5rem;
  gap: 8px;
  background-color: var(--white-color);
  box-shadow: -1px 4px 33px 0px var(--scondery-color);
  -webkit-box-shadow: -1px 4px 33px 0px var(--scondery-color);
  -moz-box-shadow: -1px 4px 33px 0px var(--scondery-color);
  border: 1px solid #dedede;
}
.aside {
  background-color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  padding: 1rem;
  border-radius: 2.5px 0 0 2.5px;
  box-shadow: -1px 0px 28px 0px var(--scondery-color);
  -webkit-box-shadow: -1px 0px 28px 0px var(--scondery-color);
  -moz-box-shadow: -1px 0px 28px 0px var(--scondery-color);
  border: 1px solid #dedede;
}
.aside p {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.aside i {
  color: var(--primary-color);
}
ul {
  width: 100%;
}

.aside hr {
  height: 2px;
  width: 80%;
  background-color: var(--primary-color);
  margin: 1rem;
}
.content {
  width: 80%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 0 2.5px 2.5px 0;
  background-color: var(--navy);
  padding: 8px;
  border: 1px solid #dedede;
}
.content h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: bold;
}
.pinned-tasks {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  display: flex;
}
ul p {
  text-align: center;
  margin-top: 5rem;
}
.aside li {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-transform: capitalize;
  font-weight: bold;
  width: 80%;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem 10px;
}
.check-btn {
  color: white;
  padding: 5px;
  border-radius: 2px;
  transition: background-color 0.5s ease-in-out;
}
.check-btn:hover {
  background-color: var(--scondery-color);
  color: black !important;
}
@media (max-width: 1024px) {
  .aside {
    padding: 15px 3px;
    width: 30%;
  }
  .aside p {
    font-size: 1rem;
  }
  .content {
    width: 70%;
  }
}
@media (max-width: 665px) {
  .container {
    width: 50%;
    margin: 1rem;
    font-size: 1rem;
  }
  .aside {
    width: 50%;
  }
  .content {
    width: 70%;
    font-size: 1rem;
  }
}

